/* this for all the app */
@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container-fluid {
padding-left: 0 !important;
padding-right: 0 !important;
}
*{
  font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  text-transform: capitalize;
  -webkit-transition: all 0.2 ea121se-in-out;
  -moz-transition: all 0.2 ea121se-in-out;
  -ms-transition: all 0.2 ea121se-in-out;
  -o-transition: all 0.2 ea121se-in-out;
  transition: all 0.2 ea121se-in-out;
}
/* dark & light mode */

:root {
  --btn-all-pro:#E5E7EB;
  --btn-all-pro-hover:#D1D5DB;
  --text-all-pro:black;
  --body_background: #FFFFFF;    
  --body_color: #1A1A2E;          
  --header-bg:#F9FAFB;
  --section-color: #F9FAFB;       
  --section-color-about: #F9FAFB;       
  --card-color: #FFFFFF;          
  --card-pro-color: #F3F4F6;
  --card-contact-color: #FFFFFF;  
  --btn_color: #7C3AED;          
  --circlSkill-bg:#F3F4F6;
  --border_color: #B8B8C6;      
  --text_color: #7C3AED;          
  --text-light-color: #B18AF4;    
  --text-dark-color: #6316E9;     
  --text-gray: #6B7280;          
  --text-white: #FFFFFF;         
  --input-bg: white;             
  --input-border: #D1D5DB;       
  --input-text: #1A1A2E;          
  --input-placeholder: #9CA3AF;   
}

[data-theme="dark"] {
 --btn-all-pro: #7C3AED;        
  --btn-all-pro-hover: #6128c2;  
  --text-all-pro:white;
  --body_background: #1A1A2E;    
  --header-bg: #1A1A2E;    
  --body_color: #EAE6F9;          
  --section-color: #0F0F1A;
  --project-bg:#0F0F1A;
  /* --section-color: #1A1A2E; */
  --section-color-about: #161627;
  --card-color: #161627;         
  --card-pro-color: #161627;          
  --card-contact-color: #1A1A2E;         
  --circlSkill-bg:#4B3F72;
  --btn_color: #9D4EDD;          
  --border_color: #4B3F72;        
  --text_color: #C77DFF;         
  --text-light-color: #E0B3FF;    
  --text-dark-color: #7B2CBF;    
  --text-gray: #A1A1B5;          
  --text-white: #FFFFFF;         
    --input-bg: #1F1F2E;            
  --input-border: #4B3F72;        
  --input-text: #EAE6F9;          
  --input-placeholder: #A1A1B5;   
}

[data-theme="light"] {
  --body_background: #FFFFFF;   
  --btn-all-pro:#E5E7EB;
  --btn-all-pro-hover:#D1D5DB;
  --text-all-pro:black;
  --body_background: #FFFFFF;     
  --body_color: #1A1A2E;         
  --header-bg:#F9FAFB;
  --section-color: #F9FAFB;       
  --section-color-about: #F9FAFB;       
  --card-color: #FFFFFF;         
  --card-pro-color: #F3F4F6;
  --card-contact-color: #FFFFFF;  
  --btn_color: #7C3AED;           
  --circlSkill-bg:#F3F4F6;
  --border_color: #B8B8C6;        
  --text_color: #7C3AED;          
  --text-light-color: #B18AF4;    
  --text-dark-color: #6316E9;     
  --text-gray: #6B7280;           
  --text-white: #FFFFFF;         
  --input-bg: white;              
  --input-border: #D1D5DB;        
  --input-text: #1A1A2E;          
  --input-placeholder: #9CA3AF;   
}

body{
    background-color: var(--body_background);
    color:var(--body_color);
}
/* dark & light mode */

/* 🔹 Responsive Adjustments */
/* Mobile navbar open styling - up to 767px sm */
@media (max-width: 767px) {
  html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden; /* Optional: hides horizontal scroll if something overflows */
    }
  .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  }
}

/* Tablet - 768px to 1024px md */
@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden; /* Optional: hides horizontal scroll if something overflows */
    }
  .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  }
}


/* Laptop - 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Optional: hides horizontal scroll if something overflows */
  }
    
}

/* Desktop - 1281px and up */
@media (min-width: 1281px) {

}